/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F5F5F5;
  }

  main {
    flex: 1 0 auto;
  }

  .card-panel {
    height: 250px;
}

/* Toast position to bottom left */

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}
