<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="theme-color" content="#b71c1c">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
      <title>TuberC - Home</title>
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
      <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/js/materialize.js"></script>
      <script src="/js/init.js"></script>
   </head>
   <body>
      <header>
         <nav class="red darken-4" role="navigation">
            <div class="nav-wrapper container">
               <a id="logo-container" href="/main" class="brand-logo">TuberC</a>
               <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/update_channels" class="waves-effect freshVidsToaster"><i class="material-icons">refresh</i></a></li>
                  <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large "><i class="material-icons">menu</i></a></li>
               </ul>
               <ul id="slide-out" class="side-nav">
                  <li>
                     <div class="user-view">
                        <div class="background red darken-3">
                        </div>
                        <a href="#!user"><img class="circle" src="/img/dp/anon.jpg"></a>
                        <a href="#!name"><span class="white-text name">{{tuberuser_email}}</span></a>
                        <a href="#!email"><span class="white-text email">Logout</span></a>
                     </div>
                  </li>
                  <li><a class="waves-effect" href="/main"><i class="material-icons">fiber_new</i>All</a></li>
                  <li><a class="waves-effect" href="#!"><i class="material-icons">favorite</i>Favorites</a></li>
                  <li><a class="waves-effect" href="/category_list"><i class="material-icons">computer</i>Categories</a></li>
                  <li>
                     <div class="divider"></div>
                  </li>
                  <li><a class="subheader">Settings</a></li>
                  <li><a class="waves-effect freshVidsToaster" href="/update_channels">Refresh User Channels</a></li>
                  <li><a class="waves-effect refreshToaster" href="/refresh_subs">Update Subscription Channel List</a></li>
                  <li>
                     <div class="divider"></div>
                  </li>
                  <li><a class="subheader">Debug Settings</a></li>
                  <li><a class="waves-effect" href="/update_all_channels">Refresh All Channels</a></li>
               </ul>
            </div>
         </nav>
      </header>
      <main>
         <div class="container">
            <h4 class="header heavy red-text">All Subscriptions</h4>
         </div>
         <br>
         <div id="loading-ak">
            <br> 
            <div class="progress red lighten-4">
               <div class="indeterminate red darken-4"></div>
            </div>
            <br> <br>
         </div>
         <div class = "row">
            <div class="col s12 m12 l8">
               {% if dump %}
               {% set defaultPlayerLink = '//www.youtube.com/embed/' + dump[0].videoid + '?rel=0'   %}
               {% endif %}
               <div id="video-emb">
                  <div class="video-container">
                     <iframe src="{{defaultPlayerLink}}" id="frame" frameborder="0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
            <div class="col s12 m12 l4">
               <div class="scroll">
                  <ul class="collapsible" data-collapsible="accordion">
                     {% for video in dump %}
                     <li>
                        <div class="collapsible-header">
                           <div class = "left">
                              <img src="{{video.author_avatar}}" alt="" id="avatar" class="circle">
                           </div>
                           <span>
                           <b>{{video.title}}</b> <br>
                           {{video.author}}   
                           </span>  
                        </div>
                        <div class="collapsible-body  blue-grey lighten-5">
                           <span>
                              <div class="row">
                                 <div class="col s12 m4 l3">
                                    <p>
                                       <img src="{{video.thumbnail}}" alt="" class="responsive-img">
                                    </p>
                                 </div>
                                 <div class="col s12 m4 l6">
                                    <p> 
                                       Uploaded {{video.post_date | pretty_date}} <br> 
                                       By {{video.author}} <br>
                                       <br>
                                    <div class="chip">
                                       <img src="img/icons/gaming.jpg" alt="Gaming">
                                       {{video.category}}
                                    </div>
                                    </p>
                                 </div>
                                 <div class="col s12 m4 l3 center">
                                    <center>
                                       <p>                      
                                          {% set playerClicker = 'playthis'+ video.link %}
                                          {% set playerClickerLink = '//www.youtube.com/embed/' + video.videoid + '?rel=0&autoplay=1' %}
                                          <a class="btn-floating btn-large waves-effect waves-light red" id ="{{playerClicker}}">
                                          <i class="material-icons medium">play_arrow</i>
                                          </a> <br> <br>
                                          <a class="btn-floating btn-large waves-effect waves-light red" href="{{video.link}}">
                                          <i class="material-icons medium">cast</i>
                                          </a>
                                    </center>
                                 </div>
                              </div>
                           </span>
                        </div>
                     </li>
                     <script>
                        $(document).ready(function () {
                           playerClicker = document.getElementById("{{playerClicker}}");
                           iframe = $('#frame');
                            $(playerClicker).click(function () {
                             iframe.attr('src', '{{playerClickerLink}}');
                             $("html, body").animate({ scrollTop: 0 }, "slow");
                            });
                        });
                     </script>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            <center>
               <br> {{number_of_vids}} videos in this list 
               <br> <br> 
               {% if show_back == True %} 
               {% set back_page_link = '?page='+ back_page %}
               <a class="btn-floating btn-large waves-effect waves-light red" href="{{back_page_link}}"><i class="material-icons">navigate_before</i></a>            
               {% endif %} 
               {% if show_next == True %} {% set next_page_link = '?page=' + next_page %}
               <a class="btn-floating btn-large waves-effect waves-light red" href="{{next_page_link}}"><i class="material-icons">navigate_next</i></a>            
               {% endif %}
            </center>
         </div>
      </main>
      <footer class="page-footer red darken-4">
         <div class="container">
            <div class="row">
               <div class="col l9 s12">
                  <h5 class="white-text">TuberCulosis</h5>
                  <p class="grey-text text-lighten-4">A YouTube Subscriptions Organizer.</p>
               </div>
               <div class="col l3 s12">
                  <h5 class="white-text">Cool Links</h5>
                  <ul>
                     <li><a class="white-text" href="#!">Settings</a></li>
                     <li><a class="white-text" href="#!">Privacy Policy</a></li>
                     <li><a class="white-text" href="#!">Support Development</a></li>
                     <li><a class="white-text" href="#!">Contact</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
               An <a class="orange-text text-lighten-3" href="https://github.com/arkits">ArKits</a> Production. Openly Developed
               on <a class="orange-text text-lighten-3" href="https://github.com/ArKits/tuberc">GitHub</a>.
            </div>
         </div>
      </footer>
      <script>
         $(document).ready(function () {
            $("#loading-ak").hide();
           $('.refreshToaster').click(function () {
              $("#loading-ak").show();
             Materialize.toast('Refreshing your subscribed channels list. Page will refresh automatically...')
             $('.refreshToaster').hide();
           });
          $('.freshVidsToaster').click(function () {
             $("#loading-ak").show();
             Materialize.toast('Refreshing your subscriptions. Page will refresh automatically...')
             $('.freshVidsToaster').hide();
           });
         });
      </script>
   </body>
</html>