{% extends "base.html" %}

{% block content %}

<br>

<div class="row valign-wrapper">

    <div class="col s12 m4 l2"><p><img src="{{ user.avatar(128) }}"></p></div>
    <div class="col s12 m4 l6"><p> <h1>{{ user.username }}</h1></p></div>
    <div class="col s12 m4 l4"><p>
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
        <p><a href="{{ url_for('yt') }}">Sync Subscription List from YouTube</a></p>
    </p></div>

</div>




    <hr>
    

    <h4>My Subscription List</h4>
    {% for post in posts %}
        <p>
        {{ post }}
        </p>
    {% endfor %}
{% endblock %}